@font-face {
  font-family: "PP Eiko";
  src: url("/fonts/PP Eiko/PPEiko-Thin.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "PP Eiko";
  src: url("/fonts/PP Eiko/PPEiko-Medium.otf") format("opentype");
  font-weight: 500; /* Medium font weight */
  font-style: normal;
}

@font-face {
  font-family: "PP Eiko";
  src: url("/fonts/PP Eiko/PPEiko-Heavy.otf") format("opentype");
  font-weight: 800; /* Heavy font weight */
  font-style: normal;
}

@font-face {
  font-family: "PP Eiko", sans-serif;
  src: url("/fonts/PP Eiko/PPEiko-Lightitalic.otf") format("opentype");
  font-weight: 340; /* Changed to 300 */
  font-style: italic;
}

body {
  font-family: "PP Eiko", sans-serif;
  font-weight: 340;
  background-color: #ffffff;
  color: #333333;
  margin: 0;
  padding: 0;
  max-height: 100vh;
}

.style-light {
  background-color: #ffffff;
  color: #000000;
}

.style-light-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 50px;
  margin-left: 90px;
  margin-right: 90px;
}

.style-light-header {
  font-family: "PP Eiko", sans-serif;
  display: flex;
  align-self: flex-end;
}

.style-light-header a {
  font-weight: 340px;
  color: #000000;
  font-weight: 200;
  font-size: 16px;
}

.logo-container img {
  width: 700px;
  height: 160px;
}

.style-light-content {
  max-width: 50%;
}

.style-hero p {
  font-family: "PP Eiko", sans-serif;
  font-style: italic;
  font-weight: 240; /* Matching the weight declared for ThinItalic */
  font-size: 24px;
  margin-top: -10px;
  margin-left: 20px;
}

.style-light-content {
  display: flex;
  align-self: flex-end;
  flex-direction: column;
  margin-top: 150px;
  gap: 20px;
  position: relative;
}

.style-light-content p {
  font-family: "PP Eiko", sans-serif;
  font-size: 18px;
  font-weight: 340;
  margin-top: -10px;
  text-align: right;
}
